.footer {
  background: linear-gradient(135deg, #36aab9, #14565E);
  color: white;
  padding: 40px 20px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  color: #ffeb3b; 
}
/* highlight color */
.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #ffeb3b;
}

 /* Social icons  */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* Footer bottom  */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 15px;
}

/* Responsive  */
@media screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}