.carousel {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 200px;
  max-width: 200px;
  margin: 10px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.stars {
  color: gold;
  font-size: 16px;
  margin-top: 5px;
}

.star.full {
  color: gold;
}
.star.half {
  position: relative;
  display: inline-block;
  color: gold;
}
.star.half::before {
  content: "★";
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold;
}
.star.empty {
  color: lightgray;
}

.buttons-rating {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  pointer-events: none; /* prevents blocking slide clicks */
}

.prev-btn,
.next-btn {
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  /* color: rgb(0, 0, 0); */
  width: 10px;
  font-size: 28px;
  padding: 12px 18px;
  /* border-radius: 50%; */
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: all; /* re-enable button click */
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}



/* Responsive for mobile */
@media (max-width: 768px) {
  .card {
    min-width: 160px;
    max-width: 160px;
  }
}
