/* 
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffb347, #ff6f61, #d72672, #fa0310);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fffaf2;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  width: 380px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
  position: relative;
  overflow: hidden;
}

.login-card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #ffb347, #ff6f61, #d72672, #faab02);
  z-index: -1;
  filter: blur(14px);
  opacity: 0.85;
}


.login-heading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #3b1f2b;
}


.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #6e3b3b;
}


.form-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #d4a373;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
  background: #fffef9;
}

.form-input:focus {
  border-color: #ff6f61;
  box-shadow: 0 0 8px rgba(215, 38, 114, 0.5);
}


.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #d72672;
  font-size: 14px;
}


.radio-options {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #3b1f2b;
}

#remember-group {
  font-size: 14px;
  color: #3b1f2b;
}


.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #ff6f61, #d72672, #03fd56);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(45deg, #ffb347, #ff6f61, #d72672);
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}


.signup-text {
  margin-top: 18px;
  font-size: 14px;
  color: #6e3b3b;
}

.signup-link {
  color: #d72672;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.signup-link:hover {
  text-decoration: underline;
  color: #ffb347;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/
